body {
  margin: 0;
  padding: 0;
  background: #83b0e2;
}

.wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  overflow: hidden;
}

/* TODO: Set appropriate position and animation for item */

.wrapper .item {
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
}

/* TODO: Set appropriate sizing for block items */

.wrapper .b1 {
  border-color: #4a69bd;
}

.wrapper .b2 {
  border-color: #f6b93b;
}

.wrapper .b3 {
  border-color: #2ecc71;
}

.wrapper .b4 {
  border-color: #34495e;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}